[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DNAmixturesLite"]
	path = DNAmixturesLite
	url = https://github.com/cran/DNAmixturesLite
